body{
    background-image: url("img/1752009.jpg");
}

.container {
    background-color: white;
    padding: 15px 43px;
    min-height: 100vh;
}

#eq {
    font-size: 2.5vw;
    background-color: white;
}

#sidebar{
    border-left: solid 2px gainsboro;
}


.footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}

#problem{
    background-color: white;
    min-height: 150px;
    padding:40px 20px;
}

#testing{
    font-size: 1.2em;
}

.custom-control-label{
    cursor: pointer;
}
